body {font-family: 'Yanone Kaffeesatz', sans-serif;
background-color: #ffd2ba;}
h1, h2 {color:#1966F0;} 
p, h3, ul, hr, caption, th, label, option, span, a {color:#5C3787;}
td {color: #FFFFFF;}
h1 {font-size: 1.5em;}
h2 {font-size: 2em;}
p {font-size: 3em;}
a:link {color: #1966F0;}
a:hover {color: #C5286F;}
a:visited {color:  #5C3787;}
nav {background-color: #FB784C;
    padding: 10px;
    margin-bottom: 30px;
}
nav a:link {color: #FFFFFF;}
nav a:hover { color: #ebf4ff;
    background-color:  #C5286F;
}
.evenrow {background-color: #b380cc;}
form {color:#ebf4ff;}
a {color:#5C3787;}
.a1 {display: flex;}
.address {flex: 1;}
.contactlinks {flex: 1;}
.a1 {background-color: #FFFFFF; border-radius: 1em; padding: 12px;}
.a2 {display: flex;}
.form1 {flex: 1;}
.map {flex: 1;}
.a2 {background-color: #FFFFFF; border-radius: 1em; padding: 12px;}
.pageheading {display: flex;
            justify-content: center;}
.row1 {display: flex;
        flex:3;}
.otherskills1 {
    background-color: #5C3787;
    color: white;
    border-radius: 1em;
    padding: 1em;
    flex: 1;}
.parenttag1 {display: flex; flex-wrap: wrap;}
.icon1 {flex: 3; order: 1;}
.icon2 {flex: 3; order: 2;}
.icon3 {flex: 2; order: 3;}
.icon4 {flex: 2; order: 4;}
.icon5 {flex: 1; order: 5;}
.otherskills1 {flex: 1;}
.otherskillstitle {float: inline-start;
                    padding-right: 5px;}
.intro1 {display: flex;
        width: 75%;
        padding-left: 40px;}
.icon1, .icon2, .icon3, .icon4, .icon5 {padding: 3.5em;}
.indexbanner {max-width: 100%;}
.a2 {flex-wrap: wrap;}
@media only screen and (max-width: 600px) {nav a {max-width: 100%;
                                                display: block;
                                                margin: 5px;}
                                            .nopipe {display: none;}}
.skip {background-color: #DD3558;
        border: 1px solid #C5286F;
        padding: 2px;
        position: absolute;
        left: -999px;}
.skip:focus {left: 20px;
            top: 30px;}



